table {
    text-align: center;   
}

table tr th {
    padding: 5px;
    border: 1px black solid;
    font-family: 'Times New Roman', Times, serif;
    width: 90px;
    background-color: rgb(95, 164, 241);
}

table tr td {
    padding: 5px;
    border: 1px black solid;
    font-family: 'Times New Roman', Times, serif;
    width: 90px;
    background-color: rgb(163, 190, 221);
}

table tr td img {
    width: 40px;
    height: fit-content;
}